<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="public/css/style.css" type="text/css" />
    <title>Vinyl Destination</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src=""></script>
</head>

<body>
    {{{ body }}}
</body>

</html>