h1 {
  font-family: 'Permanent Marker', cursive;
  background-color: white;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 20px;
  width: 100%;
  font-size: 100px;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  background-color: white;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 20px;
  width: 100%;
  font-size: 30px;
  margin: auto;
}

h3 {
  font-family: 'Permanent Marker', cursive;
  background-color: white;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 20px;
  width: 100%;
  font-size: 25px;
  margin: auto;
}

h4 {
  font-family: 'Permanent Marker', cursive;
  background-color: white;
  font-style: italic;
  text-align: center;
  width: 100%;
  font-size: 20px;
}

.container {
  font-family: 'Syne', sans-serif;
  width:60%;
  padding-right:15px;
  padding-left:20px;
  margin-right:auto;
  margin-left:auto;
  padding-bottom: 10px;
  border-style:ridge;
  background-color: white;
}

body {
  background-image: url("https://image.freepik.com/free-photo/vinyl-records-yellow-background_23-2147926840.jpg"), url("https://image.freepik.com/free-photo/vinyl-records-yellow-background_23-2147926840.jpg");
  background-repeat: no-repeat, repeat;
  background-color:white;
  background-attachment: fixed;
  font-family: 'Syne', sans-serif;
}

form.search-bar input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.search-bar button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.divider {
  padding-top: 20px;
  padding-bottom: 50px;
}

.divider2 {
  padding-top: 20px;
  padding-bottom: 10px;
}

.divider3 {
  padding-top: 10px;
}

form.create-form {
  text-align: center;
}

form.form-group {
  text-align: center;
}

.header {
margin: auto;  
}

.results {
  height: 320px;
}

.results img {
  width: 100%;
}

#submit {
  align-items: center;
}